// 生成不同尺寸的margin
@mixin margin($breakpoints: $margin-widths) {

  @each $breakpoint in $breakpoints {
    .#{$prefix}-m-#{$breakpoint} {
      margin: $breakpoint + px;
    }

    .#{$prefix}-m-l-#{$breakpoint} {
      margin-left: $breakpoint + px;
    }

    .#{$prefix}-m-t-#{$breakpoint} {
      margin-top: $breakpoint + px;
    }

    .#{$prefix}-m-r-#{$breakpoint} {
      margin-right: $breakpoint + px;
    }

    .#{$prefix}-m-b-#{$breakpoint} {
      margin-bottom: $breakpoint + px;
    }
  }
}