// 生成不同宽度的panel
@mixin make-difference-panel($breakpoints: $panel-widths, $gutter: $grid-gutter-width) {
  %panel-default {
    position: relative;
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
    min-height: 1px;
  }
  @each $breakpoint in map-keys($breakpoints) {
    .#{$prefix}-panel-#{$breakpoint} {
      @extend %panel-default;
      width: map-get($breakpoints, $breakpoint);
    }

    .#{$prefix}-panel-#{$breakpoint}-auto {
      @extend %panel-default;
      width: map-get($breakpoints, $breakpoint);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from 1 through $grid-columns {
    .#{$prefix}-col-#{$i} {
      position: relative;
      float: left;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      width: floor(100% * $i * 100 / $grid-columns) / 100;
    }
  }
}