.#{$prefix}-menu {
  z-index: $topbar-zindex;
  position: fixed;
  top: $menu-top;
  bottom: 0;
  left: 0;
  background-color: $menu-bg;
}

.#{$prefix}-menu-one {
  width: $menu-one-width;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  border-right: $menu-border-width solid $menu-border-color;

  .wi-menu-item {
    padding-left: 0;
    padding-right: 0;
  }

  .#{$prefix}-menu-one-title {
    font-size: $menu-one-font-size;
    color: inherit;
  }
}
