.#{$prefix}-dropdown {
  position: relative;
}

.#{$prefix}-dropdown-menu {
  z-index: $zindex-dropdown;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: $dropdown-padding-y $dropdown-padding-x;
  font-size: $dropdown-font-size;
  text-align: left;
  list-style: none;
  background-color: $dropdown-bg;
  border: $dropdown-border-width solid $dropdown-border-color;
  box-shadow: $dropdown-box-shadow;
  @include border-radius($dropdown-border-radius);
}

.#{$prefix}-dropdown-item {
  display: block;
  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
  color: $dropdown-link-color;
  white-space: nowrap;
  cursor: pointer;

  @include hover-focus {
    color: $dropdown-link-hover-color;
    text-decoration: none;
    background-color: $dropdown-link-hover-bg;
  }

  &.#{$prefix}-active,
  &:active {
    color: $dropdown-link-active-color;
    text-decoration: none;
    background-color: $dropdown-link-active-bg;
  }

  &.#{$prefix}-disabled,
  &:disabled {
    color: $dropdown-link-disabled-color;
    background-color: transparent;
    cursor: not-allowed;
  }
}
