// 容器
.#{$prefix}-container {
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

//panel
@include make-difference-panel();

// 栅格布局
.#{$prefix}-row {
  @include clearfix();
}

@include make-grid-columns();
