// 容器
.#{$prefix}-container {
  width: $grid-center-width;
  padding-right: ($grid-gutter-width / 2);
  padding-left: ($grid-gutter-width / 2);
  margin-right: auto;
  margin-left: auto;
}

//panel
@include make-difference-panel();