// 根据主题名称获取主题色值
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

// 根据level等级和主题名称生成相应的颜色
@function theme-color-level($color-name: "primary", $level: 0) {
  $color: theme-color($color-name);
  $color-base: if($level > 0, #000, #fff);
  $level: abs($level);
  // 返回混合颜色
  // @return mix($color-base, $color, $level * $theme-color-interval);
  @return mix($color-base, $color, $level * $theme-color-interval);
}

// 根据颜色判断应该返回亮色还是暗色
@function color-yiq($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $yiq-text-dark;
  } @else {
    @return $yiq-text-light;
  }
}
