// 存放变量

$prefix:                           "wi";
$enable-rounded:                   true !default; //是否设置圆角

// 开发时设为"../../../src/scss/fonts/"，打包时设为"fonts/"
$icon-font-path:                    "./fonts/" !default;

/* 颜色 */
$white:                           #fff !default;
$gray-100:                        #f8f9fa !default;
$gray-200:                        #e9ecef !default;
$gray-300:                        #dee2e6 !default;
$gray-400:                        #ced4da !default;
$gray-500:                        #adb5bd !default;
$gray-600:                        #6c757d !default;
$gray-700:                        #495057 !default;
$gray-800:                        #343a40 !default;
$gray-900:                        #212529 !default;
$black:                           #000 !default;
      
$blue:                            #007bff !default;
$indigo:                          #6610f2 !default;
$purple:                          #6f42c1 !default;
$pink:                            #e83e8c !default;
$red:                             #dc3545 !default;
$orange:                          #fd7e14 !default;
$yellow:                          #ffc107 !default;
$green:                           #28a745 !default;
$teal:                            #20c997 !default;
$cyan:                            #17a2b8 !default;

/* 主题 */
$primary:                           $blue !default;
$secondary:                         $gray-600 !default;
$success:                           $green !default;
$info:                              $cyan !default;
$warning:                           $yellow !default;
$danger:                            $red !default;
$light:                             $gray-100 !default;
$dark:                              $gray-800 !default;

$theme-colors: () !default; //定义一个空数组
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// 用于确定颜色的亮度何时从“暗”变为“浅”，可接受的值介于0到255之间
$yiq-contrasted-threshold: 150 !default;
// 定义亮色和暗色字体颜色
$yiq-text-dark: $gray-900 !default;
$yiq-text-light: $white !default;

// 设置颜色等级
$theme-color-interval:              8% !default;

/* 大小基数 */
$base-size:                         14;

/* 字体 */
$font-family-base:                  Microsoft YaHei, \5FAE\8F6F\96C5\9ED1, sans-serif;

$font-size-base:                    $base-size * 1px !default; // 通常为16px
$font-size-lg:                      ($font-size-base * 1.25) !default;
$font-size-sm:                      ($font-size-base * .875) !default;

$font-weight-base:                  400 !default;
$font-weight-light:                 300 !default;
$font-weight-bold:                  700 !default;

$line-height-base:                  1.5 !default;
$line-height-lg:                    1.5 !default;
$line-height-sm:                    1.5 !default;

$component-active-bg:               theme-color("primary") !default;
$component-active-color:            $white !default;

/* 边框 */
$border-radius:                     $base-size * 0.25px !default;
$border-radius-lg:                  $base-size * 0.3px !default;
$border-radius-sm:                  $base-size * 0.2px !default;

$border-width:                      1px !default;
$border-color:                      $gray-300 !default;

/* 维护所有z-index */
$zindex-dropdown:                   1000 !default;

/* close */
$close-font-size:                   $font-size-base * 1.5 !default;
$close-font-weight:                 $font-weight-bold !default;
$close-color:                       $black !default;
$close-text-shadow:                 0 1px 0 $white !default;

/* link */
$link-color:                        theme-color("primary") !default;
$link-decoration:                   none !default;
$link-hover-color:                  darken($link-color, 15%) !default;
$link-hover-decoration:             underline !default;

/* from */
$input-form-padding-y:              $base-size * 0.375px !default;
$input-form-padding-x:              $base-size * 0.75px !default;

$input-form-font-size:              $font-size-base !default;
$input-form-font-weight:            $font-weight-base !default;
$input-form-line-height:            $line-height-base !default;

$input-form-border-width:           $border-width !default;

$input-form-focus-width:            $base-size * 0.2px !default;
$input-form-focus-color:            rgba($component-active-bg, .25) !default;
$input-form-focus-box-shadow:       0 0 0 $input-form-focus-width $input-form-focus-color !default;

$input-form-padding-y-sm:           $base-size * 0.25px !default;
$input-form-padding-x-sm:           $base-size * 0.5px !default;
$input-form-font-size-sm:           $font-size-sm !default;
$input-form-line-height-sm:         $line-height-sm !default;

$input-form-padding-y-lg:           $base-size * 0.5px !default;
$input-form-padding-x-lg:           $base-size * 1px !default;
$input-form-font-size-lg:           $font-size-lg !default;
$input-form-line-height-lg:         $line-height-lg !default;

/* 容器 */
// 设置不同大小的容器
$panel-widths: (
  sm: 300px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

// 设置准心并设置装订线宽度
$grid-gutter-width:                 30px !default; //装订线宽度
$grid-center-width:                 100% !default; //准心

/* body */
$body-bg:                           $white !default;
$body-color:                        $gray-900 !default;

/* alert */
$alert-padding-y:                   $base-size * 0.75px !default;
$alert-padding-x:                   $base-size * 1.25px !default;
$alert-border-radius:               $border-radius !default;
$alert-border-width:                $border-width !default;

$alert-bg-level:                    -10 !default;
$alert-border-level:                -9 !default;
$alert-color-level:                 6 !default;

/* badge */
$badge-font-size:                   75% !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-padding-y:                   $base-size * 0.25px !default;
$badge-padding-x:                   $base-size * 0.4px !default;
$badge-border-radius:               $border-radius !default;
$badge-pill-padding-x:              $base-size * 0.6px !default;
//使用比较大的值保证全角
$badge-pill-border-radius:          $base-size * 10px !default;

/* breadcrumb */
$breadcrumb-padding-y:              $base-size * 0.75px !default;
$breadcrumb-padding-x:              $base-size * 1px !default;
$breadcrumb-item-padding:           $base-size * 0.5px !default;
$breadcrumb-margin-bottom:          0 !default;

$breadcrumb-bg:                     $gray-200 !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                "/" !default;

$breadcrumb-border-width:           $border-width !default;
$breadcrumb-border-radius:          $border-radius !default;

/* button */
$btn-padding-y:                     $input-form-padding-y !default;
$btn-padding-x:                     $input-form-padding-x !default;
$btn-font-size:                     $input-form-font-size !default;
$btn-line-height:                   $input-form-line-height !default;
$btn-font-weight:                   $input-form-font-weight !default;
$btn-focus-width:                   $input-form-focus-width !default;
$btn-box-shadow:                    inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow:              $input-form-focus-box-shadow !default;
$btn-border-width:                  $input-form-border-width !default;
$btn-border-radius:                 $border-radius !default;
$btn-disabled-opacity:              .65 !default;
$btn-disabled-cursor:               not-allowed !default;
$btn-link-disabled-color:           $gray-600 !default;

$btn-padding-y-sm:                  $input-form-padding-y-sm !default;
$btn-padding-x-sm:                  $input-form-padding-x-sm !default;
$btn-font-size-sm:                  $input-form-font-size-sm !default;
$btn-line-height-sm:                $input-form-line-height-sm !default;
$btn-border-radius-sm:              $border-radius-sm !default;

$btn-padding-y-lg:                  $input-form-padding-y-lg !default;
$btn-padding-x-lg:                  $input-form-padding-x-lg !default;
$btn-font-size-lg:                  $input-form-font-size-lg !default;
$btn-line-height-lg:                $input-form-line-height-lg !default;
$btn-border-radius-lg:              $border-radius-lg !default;

/* dropdown */
$dropdown-padding-y:                $base-size * 0.5px !default;
$dropdown-padding-x:                0 !default;
$dropdown-bg:                       $white !default;
$dropdown-font-size:                $font-size-base !default;
$dropdown-border-color:             $border-color !default;
$dropdown-border-width:             $border-width !default;
$dropdown-border-radius:            $border-radius !default;
$dropdown-box-shadow:               0 $base-size * 0.5px $base-size * 1px rgba($black, .175) !default;

$dropdown-item-padding-y:           $base-size * 0.25px !default;
$dropdown-item-padding-x:           $base-size * 1.5px !default;
$dropdown-link-color:               $body-color !default;
$dropdown-link-hover-color:         darken($gray-900, 5%) !default;
$dropdown-link-hover-bg:            $gray-100 !default;
$dropdown-link-active-color:        $component-active-color !default;
$dropdown-link-active-bg:           $component-active-bg !default;
$dropdown-link-disabled-color:      $gray-600 !default;

/* menu */
$menu-item-padding-y:           $base-size * 0.5px !default;
$menu-item-padding-x:           $base-size * 1.5px !default;
$menu-item-line-height:         $line-height-base !default;
$menu-link-color:               $body-color !default;
$menu-link-hover-color:         darken($gray-900, 5%) !default;
$menu-link-hover-bg:            $gray-100 !default;
$menu-link-active-color:        $component-active-color !default;
$menu-link-active-bg:           $component-active-bg !default;
$menu-link-disabled-color:      $gray-600 !default;

/* nav */

$nav-item-padding-y:             $base-size * 0.5px !default;
$nav-item-padding-x:             $base-size * 1.2px !default;

$nav-active-color:               $primary !default;
$nav-divider-color:              $gray-600 !default;
$nav-divider:                    "|" !default;
